{% extends 'base.html'%}
{% load static %}
{%block title%}
	Blog
{%endblock%}

{%block content%}

{%for post in post_data%}
        {% include 'includes/post_card_template.html' %}
{%endfor%}

{% if is_paginated%}
<div class="row">
	<div class="col">
		<div class="block-27">
			<ul>
				<li class="page{% if not prev_url%} disabled {%endif%}">
					<a href="{{ prev_url }}">&lt;</a>
				</li>
			{% for n in post_data.paginator.page_range %}
			{% if post_data.number == n %}
				<li class="active">
					<a href="?page={{n}}" > {{n}} </a>
				</li>
			{% elif n > post_data.number|add:-3 and n < post_data.number|add:3 %}
				<li>
					<a href="?page={{n}}" > {{n}} </a>
				</li>
			{% endif %}

			{% endfor %}
				<li class="{% if not next %} disabled {%endif%}">
					<a href="{{ next }}">&gt;</a>
				</li>
			</ul>
		</div>
	</div>
</div>
{%endif%}
{%endblock%}
